.bio-container{
    max-width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.bio-wrapper{
    width: 95%;
    margin: auto;
}
.bio-p{
    font-size: clamp(1.4rem, 2vw, 7rem);
    width: 55.5%;
    font-weight: 600;
    position: relative;
}
/* .bio-p::after{
    content: "LIFE.";
    position: absolute;
    bottom: -30%;
    right: -65%;
    font-weight: 400;
    font-size: 20vw;
    z-index: -1;
    color: #E5F063;
    opacity: 30%;
} */

@media screen and (max-width: 500px) {
    .bio-p{
        width: 90%;
    }
}