.project-card{
    position: relative;
}
.project-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.white-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: white;
}
.project-card-overlay{
    position: absolute;
    padding: 1.5rem 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    align-items: flex-end;
    display: flex;
    z-index: 2;
    cursor: pointer;
}
.project-card-overlay h2{
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    font-size: clamp(2rem, 2vw, 10rem);
}
