.hero-container, .hero-wrapper{
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.hero-bg-img, .overlay{
    position: absolute;
}
.overlay{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .4;
}
.hero-wrapper{
   display: flex;
   align-items: flex-end;
}
.hero-content{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8vh;
    flex-wrap: wrap;
}
.hero-content h1{
    font-size: clamp(3rem, 5vw, 10rem);
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}
.hero-cta{
    display: flex;
    align-items: center;
    background: #E5F063;
    padding: .5rem 1rem;
    cursor: pointer;
    margin-right: 3rem;
}
.cta-text{
    text-transform: uppercase;
}

.loading{
    position: fixed;
    background: #E5F063;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
}
.loading-1{
    left: 0;
}
.loading-2{
    right: 0;
}
.loading-logo{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;
    font-size: clamp(7rem, 7vw, 10rem);
    font-weight: 700;
}
@media screen and (max-width: 500px) {
    .hero-wrapper{
        flex-direction: column;
        gap: 2rem;
        justify-content: flex-end;
    }
}