*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .4s ease-in-out;
}
body{
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  display: none;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.yellow{
  color: #E5F063;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  outline: none;
  border: none;
  padding: .5rem 2rem;
  font-size: clamp(1rem, 1.2vw, 10rem);
  text-transform: uppercase;
  background-color: #E5F063;
  cursor: pointer;
}
a{
  text-decoration: underline;
  color: black;
}